@model InvoiceManagementSystem.ViewModel.MultiModelVM


@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<header>
    <link rel="stylesheet" href="~/css/Icon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</header>

<form id="InvoiceList" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="align-items-start ">
                <div class="col-md-12">
                    <div class="card-header text-white text-start" style="background-color:blueviolet">
                        <h3 class="mb-0">Customer Information</h3>
                    </div>
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="text-dark">
                                    <div class="row">
                                        <div class="row col-md-6">
                                            <label for="Name" class="col-md-4"> Name:</label>
                                            <input id="CustomerId" class="form-control" hidden />
                                            <input id="Name" class="form-control col-md-8" placeholder="Enter Customer Name" />
                                        </div>
                                        <div class="row col-md-6">
                                            <label for="Number" class="col-md-4">Phone No:</label>
                                            <input id="Number" class="form-control col-md-8" placeholder="Enter Phone Number" />
                                        </div>
                                    </div>
                                    <div class="row pt-4">
                                        <label for="Address" class="col-md-3">Address:</label>
                                        <textarea id="Address" class="form-control col-md-9" placeholder="Enter Address"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="align-items-start ">
                <div class="col-md-12">
                    <div class="card shadow-lg">
                        <div class="card-header text-white text-start" style="background-color:blueviolet">
                            <h3 class="mb-0">Invoice Information</h3>
                        </div>
                        <div class="card-body" style="background-color:#6c5ce7">
                            <div class="col-md-12">

                                <div class="text-white">
                                    <div class="row">
                                        <div class="row col-md-6">
                                            <label for="InvoiceId" class="col-md-4">Invoice No:</label>
                                            <input id="InvoiceId" class="form-control col-md-8" placeholder="Invoice Number" value="@DateTime.Now.ToString("yyMMddHHmm")" readonly />
                                        </div>
                                        <div class="row col-md-6">
                                            <label for="HolderName" class="col-md-5 ">Holder Name:</label>
                                            <input id="HolderName" class="form-control col-md-7" placeholder="Holder Name" value="@User.Identity.Name" readonly />
                                        </div>
                                    </div>

                                    <div class="row pt-5 col-md-7">
                                        <label for="Date" class="col-md-3 ">Date:</label>
                                        <input id="Date" class="form-control col-md-7" type="datetime-local" placeholder="Date" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="align-items-start  pt-2">
        <div class="col-md-12">
            <div class="card shadow-lg">
                <div class="card-header text-white text-start" style="background-color:blueviolet">
                    <div class="row">
                        <div class="col-md-11">
                            <h3 class="mb-0">Invoice Information</h3>
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <button type="button" class="btn text-white" onclick="addItem()" style="background-color:#0097e6">Add Item</button>
                        </div>
                    </div>

                </div>
                <div class="card-body text-white" style="background-color:#6c5ce7">
                    <div class="col-md-12">
                        <div>
                            <div class="form-row align-items-center mb-1" id="invoice-item">
                                <div class="col-md-7">
                                    <label>Product Description</label>
                                    <input id="InvoiceDescription" name="Description" class="form-control" placeholder="Product Description" />
                                </div>

                                <div class="col-md-1">
                                    <label>Quantity</label>
                                    <input id="InvoiceQuantity" type="number" name="Quantity" class="form-control" value="1" placeholder="Quantity" onkeyup="calculateTotal(this)" />
                                </div>

                                <div class="col-md-1">
                                    <label>Price</label>
                                    <input id="InvoivePrice" type="number" name="Price" class="form-control" step="0.01" placeholder="Price" onkeyup="calculateTotal(this)" />
                                </div>
                                <div class="col-md-1">
                                    <label>Discount</label>
                                    <div class="input-group">
                                        <input name="Discount" type="number" class="form-control" placeholder="" />
                                        <select name="DiscountType" class="form-select form-select-sm p-0" style="width: 40px; flex: 0 0 auto;">
                                            <option value="@InvoiceManagementSystem.Helper.DiscountType.Percent">@InvoiceManagementSystem.Helper.DiscountType.Percent</option>
                                            <option value="@InvoiceManagementSystem.Helper.DiscountType.Ammount">@InvoiceManagementSystem.Helper.DiscountType.Ammount</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label>Total</label>
                                    <input id="InvoiveTotal" name="TotalItem" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 pt-2">
            <div class="align-items-start">
                <div class="col-md-12">
                    <div class="card shadow-lg">
                        <div class="card-header text-white text-start" style="background-color:blueviolet">
                            <h3 class="mb-0">Order List</h3>
                        </div>
                        <div class="card-body text-white" style="background-color:#6c5ce7">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead class="text-white">
                                        <tr>
                                            <th>Product Description</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Discount</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="invoice-items">
                                        <!-- Dynamic rows will be appended here -->


                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 pt-2">
            <div class="align-items-start">
                <div class="col-md-12">
                    <div class="card shadow-lg">
                        <div class="card-header text-white text-start" style="background-color:blueviolet">
                            <h3 class="mb-0">Total Count</h3>
                        </div>
                        <div class="card-body" style="background-color:#6c5ce7">
                            <div class="col-md-12">

                                <div class="text-white pt-5" id="Total-item">
                                    <div class="row">
                                        <label class="col-md-5">SubTotal</label>
                                        <input type="text" class="form-control col-md-7" id="SubTotal" placeholder="Sub Total" readonly />
                                    </div>
                                    <div class="row pt-3">
                                        <label class="col-md-5">VAT</label>
                                        <input type="number" class="form-control col-md-7" id="VAT" placeholder="Enter VAT" onkeyup="calculateVat(this)" />
                                    </div>
                                    <div class="row pt-3">
                                        <label class="col-md-5">Total VAT</label>
                                        <input class="form-control col-md-7" type="number" id="TotalVAT" placeholder="Total VAT" readonly />
                                    </div>
                                    <div class="row pt-3">
                                        <label for="Discount" class="col-md-5">Discount</label>
                                        <input class="form-control col-md-7" type="number" id="Discount" placeholder="Discount" onkeyup="calculateVat(this)" />
                                    </div>
                                    <div class="row pt-3">
                                        <label class="col-md-5">Total</label>
                                        <input class="form-control col-md-7" type="number" id="Total" name="Customer.Total" placeholder="Total" readonly />
                                    </div>
                                    <div class="row p-3">

                                        <button type="submit" id="SaveButton" class="btn btn-success col-md-5">Save</button>
                                        <button type="submit" class="btn btn-info col-md-5 ml-5">print</button>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @Html.AntiForgeryToken()
</form>


@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="~/js/alert.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function calculateVat(element) {

        const itemRow = element.closest('#Total-item');
        // get value
        const SubTotalValue = parseFloat(document.getElementById("SubTotal").value) || 0;
        const Discount = parseFloat(document.getElementById("Discount").value) || 0;
        const VATValue = parseFloat(document.getElementById("VAT").value) || 0;

        // calculation part
        const VatCalculation = (SubTotalValue * (VATValue / 100)).toFixed(2);
        const totalVat = parseFloat(VatCalculation).toFixed(2);
        const DiscountVal = (parseFloat(SubTotalValue) - parseFloat(Discount)).toFixed(2);

        // get and set value
        const TotalVat = itemRow.querySelector("#TotalVAT");
        TotalVat.value = totalVat;

        const Total = document.getElementById("Total");
        Total.value = (parseFloat(DiscountVal) + parseFloat(totalVat)).toFixed(2);



    }
</script>
<script>
    //TotalItem calculation by onkeyup

    function calculateTotal(element) {

        const itemRow = element.closest('#invoice-item');

        const Quantity = parseFloat(itemRow.querySelector('input[name *= "Quantity"]').value) || 0;
        const Price = parseFloat(itemRow.querySelector('input[name *= "Price"]').value) || 0;
        const total = (Quantity * Price).toFixed(2);

        itemRow.querySelector('input[name*="Total"]').value = total;

    }

</script>
<script>
    let Items = [];
    function addItem() {

        var description = document.querySelector("input[name='Description']").value;
        var quantity = parseFloat(document.querySelector("input[name='Quantity']").value);
        var price = parseFloat(document.querySelector("input[name='Price']").value);
        const discountValue = parseFloat(document.querySelector('input[name="Discount"]').value) || 0;
        const discountType = document.querySelector('select[name="DiscountType"]').value;



        const SubTotal = (quantity * price);
        const discountVal = calculateDiscount(SubTotal, discountValue, discountType);
        const TotalItem = SubTotal - discountVal;

        const newItem = {
            description,
            quantity,
            price,
            discountValue,
            discountType,
            SubTotal,
            discountVal,
            TotalItem
        };
        console.log(newItem);
        Items.push(newItem);

        // Update table
        updateTable();


        // Update the subtotal,total
        var subtotalField = document.getElementById("SubTotal");
        var totalField = document.getElementById("Total");

        var currentSubtotal = parseFloat(subtotalField.value) || 0;
        var currenttotal = parseFloat(totalField.value) || 0;

        currentSubtotal = (currentSubtotal + parseFloat(TotalItem)).toFixed(2);
        currenttotal = (currenttotal + parseFloat(TotalItem)).toFixed(2);
        subtotalField.value = currentSubtotal;
        totalField.value = currenttotal;




        document.querySelector("input[name='Description']").value = '';
        document.querySelector("input[name='Quantity']").value = '1';
        document.querySelector("input[name='Price']").value = '';
        document.querySelector('input[name="Discount"]').value = '';
        document.querySelector('select[name="DiscountType"]').value = '';
        document.querySelector("input[name='TotalItem']").value = '';


    }
    function calculateDiscount(SubTotal, discountValue, discountType) {
        if (discountType === '%') {
            return (SubTotal * discountValue) / 100;
        } else {
            return Math.min(discountValue, SubTotal);
        }
    }

    function updateTable() {
        const tableBody = document.getElementById('invoice-items');
        tableBody.innerHTML = ''; // Clear existing rows

        Items.forEach((item, index) => {

            var newItem = `
                       <tr class="text-white">
                            <td class="col-md-6" >
                                ${item.description}
                            </td>
                            <td class="col-md-1.5" >
                                ${item.quantity}
                            </td>
                            <td class="col-md-1.5">
                                ${item.price}
                            </td>
                             <td>
                                ${item.discountValue}${item.discountType}
                             </td>
                            <td class="col-md-2">
                                ${item.TotalItem.toFixed(2)}
                            </td>
                            <td class="col-md-1">
                                <button type="button" class="btn btn-danger" onclick="removeItem(${index},${item.TotalItem})">Remove</button>
                            </td>
                        </tr>


                                                 `;

            document.getElementById('invoice-items').insertAdjacentHTML('beforeend', newItem);


        });
    }

    function removeItem(index, TotalItem) {

        Items.splice(index, 1);
        updateTable();
        // Remove the subtotal,total
        var subtotalField = document.getElementById("SubTotal");
        var totalField = document.getElementById("Total");

        var currentSubtotal = parseFloat(subtotalField.value) || 0;
        var currenttotal = parseFloat(totalField.value) || 0;

        currentSubtotal = (currentSubtotal - parseFloat(TotalItem)).toFixed(2);
        currenttotal = (currenttotal - parseFloat(TotalItem)).toFixed(2);
        subtotalField.value = currentSubtotal;
        totalField.value = currenttotal;


    }
</script>
<script>
    $(document).ready(function () {
        // Function to collect the invoice data dynamically when the button is clicked

        function getInvoiceData(isPrint = false) {
            return {
                Customer: {
                    CustomerId: $('#CustomerId').val(),
                    Name: $('#Name').val(),
                    Number: $('#Number').val(),
                    Address: $('#Address').val(),
                    Discount: parseFloat($('#Discount').val()) || 0,
                    Total: parseFloat($('#Total').val()) || 0
                },
                Invoice: {
                    InvoiceId: $('#InvoiceId').val(),
                    HolderName: $('#HolderName').val(),
                    Date: $('#Date').val(),
                },
                InvoiceItem: Items.map(item => ({
                    InvoiceId: $('#InvoiceId').val(),
                    Description: item.description,
                    quantity: parseFloat(item.quantity) || 0,
                    ItemDiscount: parseFloat(item.discountValue) || 0,
                    discountType: item.discountType,
                    price: parseFloat(item.price) || 0,
                    TotalItem: parseFloat(item.TotalItem) || 0
                })),
                IsPrint: isPrint
            };
        }
        $("#SaveButton").click(function (e) {
            e.preventDefault();
            debugger;
            var invoiceData = getInvoiceData(false);
            console.log("Invoice Data:", invoiceData);
            $.ajax({
                url: '@Url.Action("InvoiceList", "Customers")',
                type: 'POST',
                data: invoiceData,
                success: function () {
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Invoice has been saved!",
                        timer: 1500,
                        showConfirmButton: false,
                        customClass: {
                            popup: 'small-alert'
                        }
                    });

                    clearForm();

                },
                error: function () {
                    Swal.fire({
                        position: "top-end",
                        icon: "error",
                        title: "Something went wrong",
                        timer: 1500,
                        showConfirmButton: false,
                        customClass: {
                            popup: 'small-alert'
                        }
                    });
                }
            });
        });
    });
</script>


